<p><%= link_to "Back", user_path(@user) %></p>
<h1>Index of Reservations made by <%= @user.name %></h1>
<% count = 1 %>
<% @user.reservations.each do |reservation| %>
<h2>Reservation <%= count %></h2>
<p><%= reservation.restaurant.name %></p>
<p><%= reservation.restaurant.address %></p>
<p>Party Size: <%= reservation.party_size %></p>
<p>Reservation at: <%= reservation.party_time %></p>
<p><%= link_to "Delete Reservation", restaurant_reservation_path(reservation.restaurant_id,reservation), :confirm => "Delete this?", :method => :delete %></p>
<p>--------------------------</p>
<% count += 1 %>
<% end %>