<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
	<div>
		<%= f.label :name %><br />
		<%= f.text_field :name %>

		<%= f.hidden_field :user_id, :value => current_user.id %>
	</div>
	<div>
		<%= f.label :address %><br />
		<%= f.text_field :address %>
	</div>
	<div>
		<%= f.label :capacity %><br />
		<%= f.number_field :capacity %>
	</div>
	<div>
    Starting Reservations at
	  <%= f.select :start_res, ((0..23).map {|i| [i,i] }) %><br />
	  Ending Reservations at
	  <%= f.select :end_res, ((0..23).map {|i| [i,i] }) %><br />
	</div>
	<div>
		<%= f.submit %>
	</div>
<% end %>