<h1>Restaurants</h1>
<%= form_tag restaurants_path, method: :get, authentication: false, id: 'search-form' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<div id="restaurants">
  <%= render @restaurants %>
</div>

<% @restaurants.each do |restaurant| %>
	<p>Name: <%= link_to restaurant.name, restaurant_path(restaurant) %></p>
	<p>Address: <%= restaurant.address %></p>
	<p>Capacity: <%= restaurant.capacity %></p>
	<p>-----------------------</p>
<% end %>	