<p><%= link_to "Back", restaurants_path %></p>	
<h1>Name: <%= @restaurant.name %></h1>
<p>Capacity <%= @restaurant.capacity %></p>

<% if @restaurant.errors.any? %>
    <div class="alert alert-block">
        <ul>
            <% @restaurant.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>
<% if @reservation.errors.any? %>
    <div class="alert alert-block">
        <ul>
            <% @reservation.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<% if current_user %>

  <% if current_user.owner == '1' %>
    <h2>Reservations</h2>
  	  <% @restaurant.reservations.each do |reservation| %>
  	    <p>
  	    	<%= reservation.party_size %>
  	    	<br>
  	    	<% if reservation.user != nil %>
  		    	<em> by <%= reservation.user.name %></em>
  		    	Added on: <%= reservation.created_at %>
  	    	<% end %>
  	    </p>
  	  <% end %>
  <% end %>

  <h3>New Reservation</h3>
  <%= form_for([@restaurant, @reservation]) do |f| %>
  
    <div>
    	Reservation Date Slot
    	<%= f.date_select(:party_date, start_year: 2014, use_month_numbers: true) %> 
    </div>
    <div>
      Reservation Time Slot
      <%= f.time_select(:party_time, :discard_minute => true, start_hour: @restaurant.start_res, end_hour: @restaurant.end_res, :prompt => {:minute => '00'}) %>
    </div>
    <div>
    	<%= f.label :party_size %><br />
    	<%= f.number_field :party_size %>
      <%= f.hidden_field :user_id, :value => @current_user.id %>
    </div>

    <div>
    	<%= f.submit %>
    </div>
  <% end %>

<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to do a reservation.</p>
<% end %> 
