<!DOCTYPE html>
<html>
<head>
  <title>Openseat2</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">

    <div class="container">
      <%= link_to "Openseat", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", restaurants_path %></li>
          
          <% if current_user %>
            <% if current_user.owner == '1' %>
              <li><%= link_to "Add Restaurant", new_restaurant_path %></li>
            <% end %>
            <li><%= link_to "Profile", user_url(current_user) %></li>
            <li><%= link_to "Log out", session_path("current"), :method => :delete %></li>
          <% else %>
            <li><%= link_to "Log in", new_session_path %></li>
            <li><%= link_to "Sign up", new_user_path %></li>
          <% end %>
          
        </ul>
      </nav>
    </div>
  </div>
</header>

<div class="center">
  <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:alert] %>
    <p id="alert"><%= flash[:alert] %></p> 
  <% end %>

<% if current_user %>
  <p>Signed in as <%= current_user.name %></p>
<% end %>
</div class ="center">

<div class="center">
  <%= yield %>
</div>

<footer class="footer">
  <small>
    <a href=<%=restaurants_url %>>Openseat</a>
    by Jonathan Chang
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href=<%=restaurants_url %>>News</a></li>
    </ul>
  </nav>
</footer>

</body>
</html>
